/*Start Set Font style*/
@font-face {
	font-family: SEGOEUI-Italic;
	src: url(font/SEGOEUIZ_0.TTF);
}

@font-face {
	font-family: SEGOEUI-Normal;
	src: url(font/SEGOEUI_0.TTF);
}

@font-face {
	font-family: SEGOEUI-thin;
	src: url(font/segoeuil_0.ttf);
}
/*Main page content start*/

/* .HomeSegmentedButton {
	position: absolute !important; 
	top: 14em !important; 
	left: 36em !important; #00A19C #E0E0E0
} */
.MainVBoxBGIMG {
	background-image: url("mime/bg_blue.png") !important;
	background-repeat: no-repeat;
	background-size: 35em 48em;
	background-position: center;
	height: 50em;
	/* background-color: #0A76B3 !important;
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -khtml-border-radius: 1em; */
}

.textcolorwhite {
	color: #ffffff !important;
}
/*Segmented Button BG Colour Start*/
.sapMSegBBtn.sapMSegBBtnSel {
	/*  background: #00A19C; */
	background-image: url("mime/bg_button.png") !important;
	color: #ffffff;
	background-position: 50% 50%;
}

/* .segBtnCustomWidth1{
	width: 44% !important;
}
.segBtnCustomWidth2{
	width: 43% !important;
} */
.sapMSegBBtn {
	padding-left: 2.8rem;
	padding-right: 2.8rem;
}

/* .sapMSegBBtn {
  font-size: 0.875rem;
  height: 2.375rem;
  line-height: 2.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  text-shadow: none;
  color: #00679e;
  border: 1px solid #dedede;
  border-right: 0;
  background-color: #E0E0E0;
} */
/*Segmented Button BG Colour End*/

/*Button Background color*/
.sapMBtnInner {
	color: white;
	background: -webkit-linear-gradient(top, #00A19C 0, #00A19C 100%);
}
/*Button Background Color*/
.linkColor {
	color: white !important;
}
.linkColorWhite {
	color: White !important;
}
.BasicInfoButtonBGVBOX{
	padding-left: 1.7em;
}
.BasicInfoButtonBG {
	/* padding: 0; */
	width: 10.21em;
	border: none;
	background: #E3E2E2;
}
.BasicInfoButtonBGT {
	width:5em;
	height:5em;
}
.MainLicenseRegBGIMG1 {
	background-image: url("mime/topbg1.png") !important;
	background-repeat: no-repeat;	
}
.MainLicenseRegBGIMG2 {
	background-image: url("mime/topbg_blue.png") !important;
	background-repeat: no-repeat;	
}
.MainLicenseRegBGIMG {
	background-image: url("mime/topbg.png") !important;
	background-repeat: no-repeat;	
}
.BasicInfoButtonBGLogo {
	padding: 1em 2em;
	border: none;
	background: none;
}

.sapMShellBrandingBar {
  background-color: transparent !important;
}
.LanguageComboBoxPaddingRight{
	padding-right: 0.2em !important;
	padding-top: 0.5em;
}
.CompanyLogoPaddingRightIMG{
	padding-right: 1em !important;
	width: 2rem;
	padding-top: 0.5em;
}
.BasicInfoTextxPaddingLeft{
	padding-left: 1em !important;
}
.sapUiTabSel{
	background-color: #00A19C !important;
	color: white !important;
}
.sapUiTabStrip {
  font-family: SEGOEUI-Normal !important;
} 
.sapMLabel {
  color: black;
  font-family: SEGOEUI-Normal !important;
}
.sapMInputBaseInner {
  background-color: #E3E2E2;
 }
 
 .LogoWidth {
  width: 3.1em !important; 
 }
 .sapMComboBoxBaseArrow {
  line-height: 2rem;
}
.sapMInputBaseInner {
  height: 2rem;
}
.sapMSFF {
  height: 2rem;
}
.sapMSFI {
  height: 2rem;
}
.sapMSFB {
  line-height: 2rem;
}  
.redcolortext{
	color:red !important;
}